.dockerignore
Dockerfile
Procfile

.git*

tests
docs

__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/*/*/*/*/__pycache__

*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*/*/*/*/*.pyc
*/*/*/*/*/*.pyc